# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class

# C extensions
*.so

# Distribution / packaging
env/
build/
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environment files
.env
.venv
venv/
ENV/

# IDE - Visual Studio Code
.vscode/

# IDE - JetBrains
.idea/

# OS - macOS
.DS_Store
.AppleDouble
.LSOverride
.Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# OS - Windows
Thumbs.db
ehthumbs.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/

# OS - Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Python environment
poetry.lock
pyvenv.cfg

# Others
.editorconfig
.gitattributes
.readthedocs.yml

# Folders
resources/

# Add any additional files or folders specific to your project below